<div class="comment">
  <li class="list-group-item">
    <div class="row">
      <div class="col-sm-1">
        <%= image_tag(comment.select_user_image_url) %>
      </div>
      <div class="col-sm-11">
        <div class="row">
          <div class="col-sm-9">
            <h4><%= link_to comment.name, user_path(comment.user_id) %></h4>
          </div>
          <div class="col-sm-3" id="postTime">
            <small><%= convert_date_to_posttime(comment.created_at) %></small>
          </div>
        </div>
        <%= comment.content %>
      </div>
    </div>
  </li>
</div>