<div class='study'>
  <li class='list-group-item'>
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1">  <%= link_to "#{current_user.name}: #{study.title}", study_path(study) %></h5>
      <small><%= study.convert_date_to_studydate(study.date) %></small>
    </div>
    <p><%= study.convert_time_to_studytime(study.time) %></p>
    <p><%= study.content %></p>
  </li>
</div>