#study_content {
  height: 200px;
}

.study p {
  margin-bottom: 5px;
}

.study_show_content {
  padding: 0.5em 1em;
  margin: 3px 0;
  background: #f0f7ff;
  border: dashed 2px #5b8bd0;/*点線*/
}

.study_show_header {
  border-bottom: 1px solid #c85179;
  border-left: 10px solid #c85179;
  padding: 7px;
}

.study_show_header .col-sm-3 {
  text-align: right;
}

.navbar-brand a, .nav-link a, .nav-item a{
  color: black;
  text-decoration-line: none;
}

.study_show_footer .col-sm-11 {
  padding-right: 0px;
}

.study_show_footer .col-sm-1 {
  padding-left: 0px;
}

.study_show_footer {
  margin-top: 20px;
}

.comment #postTime {
  text-align: right;
}

.fa-comment-dots, .fa-calendar-alt {
  margin-top: 20px;
}

img {
  width: 100%;
}

#study_show_img {
  width: 90%;
  height: 80%;
}

.user_name_and_tag {
  padding-left: 0;
  font-size: 1.5em;
}