form .row .col-sm-3 {
  text-align: right;
}

#user_show_name {
  text-align: center;
  background-color: #FFF;
  border-bottom: solid 3px #4ec4d3;
}

#follow {
  margin-top: 10px;
}

img {
  width: 100%;
}

.study .col-sm-1 {
  padding: 0;
}

#follow input[type="submit"] {
  width: 100%;
}

.follow-user h4 {
  padding-top: 10px;
}

.follow-user {
  border-bottom: solid 2px #FFD700;
}